<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% block head %}
	<title>{% block title %}{% endblock %} - BlendBarrel</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.sidebar-nav {
			padding: 9px 0;
		}
	</style>

	{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container-fluid">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <a class="brand" href="{{ url_for('index') }}">Blend Barrel</a>
		  
		  {% block menu %}
		  <div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			  <i class="icon-user"></i> {{ session['Email'] }}
			  <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			  <li><a href="{{ url_for('users_edit', uid=session['UserID']) }}">Profile</a></li>
			  <li class="divider"></li>
			  <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
			</ul>
		  </div>
		  <div class="nav-collapse">
			<ul class="nav">
			  <li class="active"><a href="#">Swirl Payroll</a></li>
			</ul>
		  </div><!--/.nav-collapse -->
		  {% endblock %}
		</div>
	  </div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			{% block side_menu %}
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Payroll</li>
						<li><a href="{{ url_for('swirl_import') }}">Import Punches</a></li>
						<li><a href="{{ url_for('tips') }}">Tips</a></li>
						
						<li><a href="{{ url_for('export') }}">Export</a></li>
						<li class="nav-header">Setup</li>
						<li><a href="{{ url_for('batches') }}">Punch Batches</a></li>
						<li><a href="{{ url_for('payperiods') }}">Pay Periods</a></li>
						<li><a href="{{ url_for('terminated_ee') }}">Terminate Employee</a></li>
						<li><a href="{{ url_for('companies') }}">Companies</a></li>
						<li><a href="{{ url_for('stores') }}">Stores</a></li>
						<li><a href="{{ url_for('jobs') }}">Jobs</a></li>
						<li><a href="{{ url_for('jobmap') }}">Job Map</a></li>
						<li><a href="{{ url_for('tippools') }}">Tip Pools</a></li>
						<li><a href="{{ url_for('holiday_schedules') }}">Holiday Schedules</a></li>
						<li><a href="{{ url_for('holidays') }}">Holidays</a></li>
						
						{% if session['admin_access'] %}

						<li class="nav-header">Administration</li>
						<li><a href="{{ url_for('users_handler') }}">Users</a></li>

						{% endif %}
					</ul>
				</div><!--/.well -->
			</div>
			{% endblock %}
			<div class="span9">
				<div id="content">
					<h1>{% block heading %}{% endblock %}</h1>
					<br>

					<div id="messages">
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class="alert {{ category }}">
									<a class="close" data-dismiss="alert" href="#">&times;</a>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					</div>

					{% block content %}{% endblock %}
				</div>
				<div id="footer">
					<hr />
					{% block footer %}
					Developed by Kyle Johnson for Vino Volo in 2012

					<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
					<script src="/static/js/bootstrap.js"></script>
					<script src="/static/js/bootstrap-alert.js"></script>
					<script src="/static/js/bootstrap-button.js"></script>
					<script>
						// Enable any alerts to be dismissed via JavaScript
						$(".alert").alert();
					</script>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>