{% extends "base.html" %}
{% block title %}Punch Batches{% endblock %}
{% block heading %}Punch Batches{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>User</strong></td>
				<td><strong>Source</strong></td>
				<td><strong>Created</strong></td>
				<td><strong>Status</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for batch in batches %}
		<tr>
			<td>{{ batch['Email'] }}</td>
			<td>{{ batch['Source'] }}</td>
			<td>{{ batch['Timestamp'] }}</td>
			<td>{{ batch['Status'] }}</td>
			<td>
				{% if batch['Status'] == 'Dirty' %}
				<a href="{{ url_for('import_preview', BatchID=batch['BatchID']) }}">Preview</a>
				{% endif %}
				<a href="{{ url_for('batch_delete', BatchID=batch['BatchID']) }}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	<ul class="pager">
		<li class="previous {{ 'disabled' if page <= 1 }}"><a href="{{ url_for('batches_page', page=(page-1)) }}">&larr; Previous</a></li>
		<li class="next"><a href="{{ url_for('batches_page', page=(page+1)) }}">Next &rarr;</a></li>
	</ul>

{% endblock %}