{% extends "base.html" %}
{% block title %}Punch Import - Map Jobs{% endblock %}
{% block heading %}Punch Import - Map Jobs{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Store ID</strong></td>
				<td><strong>Squirrel Job</strong></td>
				<td><strong>Mapping</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for unmapped_job in unmapped_jobs %}
		<tr>
			<td>
				{{ unmapped_job['StoreID'] }}
			</td>
			<td>
				{{ unmapped_job['Job'] }}
			</td>
			<td>
				<select class="input-large _sqjob" data-sqjob="{{ unmapped_job['Job'] }}">
					{% for job in jobs %}
					<option value="{{ job['JobID'] }}">{{ job['Name'] }}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<button class="btn btn-primary save-button _sqjob" data-loading-text="Saving..." data-id="{{ unmapped_job['StoreID'] + unmapped_job['Job'] }}" data-sqjob="{{ unmapped_job['Job'] }}" data-storeid="{{ unmapped_job['StoreID'] }}" data-error-text="Save Failed">Save</button>
			</td>
		</tr>
		{% endfor %}
	</table>

	<a class="btn btn-primary" href="{{ url_for('batch_map', BatchID=BatchID) }}">Continue</a>

{% endblock %}

{% block footer %}
	{{ super() }}
	
	<script>
		$('.save-button').button();
		$('.save-button').click(function() {
			// Set the button to loading
			$(this).button('loading');

			// The Squirrel Job is stored in the button's markup
			squirrelJob = $(this).attr('data-sqjob');
			storeID = $(this).attr('data-storeid');

			// Get the JobID of the mapping selected in the combo box
			jobID = $('select._sqjob[data-sqjob="' + squirrelJob + '"]').val();
			
			// Post this via AJAX
			$.post("{{ url_for('_jobmap') }}", 
				{
					'SquirrelJob': squirrelJob,
					'JobID': jobID,
					'StoreID': storeID
				},
				function(data) {
					// Reset the button's state so it's no longer loading
					btn = $('button._sqjob[data-id="' + data.StoreID + data.SquirrelJob + '"]');
					btn.button('reset');

					if(data.result) {
						btn.removeClass('btn-success').removeClass('btn-danger').addClass('btn-success');
					} else {
						// The operation failed!
						btn.removeClass('btn-success').removeClass('btn-danger').addClass('btn-danger');
						btn.button('error');
					}
				},
				"json");
		});
	</script>
{% endblock %}