{% extends "base.html" %}
{% block title %}Companies{% endblock %}
{% block heading %}Companies{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Company ID</strong></td>
				<td><strong>Name</strong></td>
				<td><strong>Overtime Rules</strong></td>
				<td><strong>Holiday Schedule</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for company in companies %}
		<tr>
			<td>{{ company['CompanyID'] }}</td>
			<td>{{ company['Name'] }}</td>
			<td>{{ company['OvertimeRules'] }}</td>
			<td>{{ company['HolidayScheduleID'] }}</td>
			<td>
				<a href="{{ url_for('company_edit', CompanyID=company['CompanyID']) }}">Edit</a>
				{% if company['Active'] == 1 %}
				<a href="{{ url_for('company_deactivate', company_id=company['CompanyID']) }}">Deactivate</a>
				{% else %}
				<a href="{{ url_for('company_activate', company_id=company['CompanyID']) }}">Activate</a>
				{% endif %}
				 <a href="{{ url_for('company_delete', CompanyID=company['CompanyID']) }}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	<form class="well form-inline" method="POST" action="{{ url_for('company_add') }}">
		<input type="text" class="input-small" placeholder="Company ID" name="CompanyID"></input>
		<input type="text" class="input-xlarge" placeholder="Name" name="Name"></input>
		<select name="OvertimeRules">
			<option>Federal</option>
			<option>California</option>
		</select>

		<select id="HolidayScheduleID" name="HolidayScheduleID">
			{% for holiday_schedule in holiday_schedules %}
				<option value="{{ holiday_schedule['HolidayScheduleID'] }}">{{ holiday_schedule['HolidayScheduleID'] }} - {{ holiday_schedule['Name'] }}</option>
			{% endfor %}
		</select>

		<button type="submit" class="btn">Add company</button>
	</form>
	

{% endblock %}