{% extends "base.html" %}
{% block title %}Edit Company{% endblock %}
{% block heading %}Edit Company{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('company_edit', CompanyID=company['CompanyID']) }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="CompanyID">Company ID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="CompanyID" name="CompanyID" value="{{ company['CompanyID'] }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Name">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Name" name="Name" value="{{ company['Name'] }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="OvertimeRules">Overtime Rules</label>
				<div class="controls">
					<select name="OvertimeRules" id="OvertimeRules" class="input-xlarge">
						<option>Federal</option>
						<option>California</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="HolidayScheduleID">Holiday Schedule</label>
				<div class="controls">
					<select id="HolidayScheduleID" name="HolidayScheduleID" class="input-xlarge">
						{% for holiday_schedule in holiday_schedules %}
						<option value="{{ holiday_schedule['HolidayScheduleID'] }}" {{ 'selected="selected"' if holiday_schedule['HolidayScheduleID'] == company['HolidayScheduleID'] else '' }}>{{ holiday_schedule['Name'] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button>
				<a href="{{ url_for('companies') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}