<p>You have employee numbers in Squirrel that don't match the employee numbers in the payroll system.  Please update the employees below in Squirrel to ensure accurate payroll processing.  Thank you!</p>
<table cellspacing="0" cellpadding="2" border="1">
	<tr>
		<td>
			<strong>Store</strong>
		</td>
		<td>
			<strong>Squirrel Number</strong>
		</td>
		<td>
			<strong>Payroll Number</strong>
		</td>
		<td>
			<strong>Last Name</strong>
		</td>
		<td>
			<strong>First Name</strong>
		</td>
	</tr>
	{% for enu in ee_updates %}

	<tr>
		<td>
			{{ enu['StoreName'] }}
		</td>
		<td>
			{{ enu['OldEmployeeNum'] }}
		</td>
		<td>
			{{ enu['NewEmployeeNum'] }}
		</td>
		<td>
			{{ enu['LastName'] }}
		</td>
		<td>
			{{ enu['FirstName'] }}
		</td>
	</tr>

	{% endfor %}
</table>