{% extends "base.html" %}
{% block title %}Export Payroll{% endblock %}
{% block heading %}Export Payroll{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('export') }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="CompanyID">Company</label>
				<div class="controls">
					<select id="CompanyID" name="CompanyID" class="input-xlarge">
						{% for company in companies %}
						<option value="{{ company.CompanyID }}">{{ company.CompanyID }} - {{ company.Name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="PayPeriod">Pay Period</label>
				<div class="controls">
					<select id="PayPeriod" name="PayPeriod" class="input-xlarge">
						{% for pp in payperiods %}
						<option value="{{ pp.PayPeriod }}">{{ pp.PayPeriod }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Export</button>
			</div>
		</fieldset>
	</form>
{% endblock %}