{% extends "base.html" %}
{% block title %}Export Preview{% endblock %}
{% block heading %}Export Preview{% endblock %}
{% block content %}

	<h3>Hours</h3>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>StoreID</strong></td>
				<td><strong>EmployeeNum</strong></td>
				<td><strong>LastName</strong></td>
				<td><strong>FirstName</strong></td>
				<td><strong>Job</strong></td>
				<td><strong>Hours</strong></td>
				<td><strong>Overtime</strong></td>
				<td><strong>Doubletime</strong></td>
			</tr>
		</thead>
		{% for row in hours %}
		<tr>
			<td>{{ row.StoreID }}</td>
			<td>{{ row.EmployeeNum }}</td>
			<td>{{ row.LastName }}</td>
			<td>{{ row.FirstName }}</td>
			<td>{{ row.JobName }}</td>
			<td>{{ "%.2f"|format(row.Hours) }}</td>
			<td>{{ "%.2f"|format(row.Overtime) }}</td>
			<td>{{ "%.2f"|format(row.Doubletime) }}</td>
			
		</tr>
		{% endfor %}
	</table>

	<h3>Tips</h3>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>StoreID</strong></td>
				<td><strong>EmployeeNum</strong></td>
				<td><strong>LastName</strong></td>
				<td><strong>FirstName</strong></td>
				<td><strong>Tips</strong></td>
			</tr>
		</thead>
		{% for row in tips %}
		<tr>
			<td>{{ row.StoreID }}</td>
			<td>{{ row.EmployeeNum }}</td>
			<td>{{ row.LastName }}</td>
			<td>{{ row.FirstName }}</td>
			<td>{{ "$%.2f"|format(row.Tips) }}</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}