{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link href="/static/css/datepicker.css" rel="stylesheet">
{% endblock %}
{% block title %}Holidays{% endblock %}
{% block heading %}Holidays{% endblock %}
{% block content %}

	<form method="POST" action="{{ url_for('holiday_add') }}">
		<div class="well">
			<label for="HolidayScheduleID">Holiday Schedule</label>
			
			<select id="HolidayScheduleID" name="HolidayScheduleID">
			{% for holiday_schedule in holiday_schedules %}
				<option value="{{ holiday_schedule['HolidayScheduleID'] }}" {{ 'selected="selected"' if holiday_schedule['HolidayScheduleID'] == current_holiday_schedule['HolidayScheduleID'] else '' }} >{{ holiday_schedule['HolidayScheduleID'] }} - {{ holiday_schedule['Name'] }}</option>
			{% endfor %}
			</select>
		</div>

		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td><strong>Holiday</strong></td>
					<td><strong>Name</strong></td>
					<td><strong>Action</strong></td>
				</tr>
			</thead>
			{% for holiday in holidays %}
			<tr>
				<td>{{ holiday['Holiday'] }}</td>
				<td>{{ holiday['Name'] }}</td>
				<td><a href="{{ url_for('holiday_delete', Holiday=holiday['Holiday'], HolidayScheduleID=holiday['HolidayScheduleID']) }}">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	
		<div class="well form-inline">
			<input class="input-medium" id="dp" data-date="2012-01-01" data-date-format="yyyy-mm-dd" type="text" value="2012-01-01" name="Holiday">

			<input type="text" class="input-xlarge" placeholder="Name" name="Name"></input>
			<button type="submit" class="btn">Add holiday</button>
		</div>
	</form>
	

{% endblock %}

{% block footer %}
	{{ super() }}
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/date.format.js"></script>
	<script>
		// Initialize the date picker to today's date
		d = new Date();
		today = d.format('yyyy-mm-dd');
		$('#dp').attr('data-date', today);
		$('#dp').val(today);
		
		$('#dp').datepicker();

		// Detect changes to the schedule dropdown and navigate to the correct page
		$('#HolidayScheduleID').change(function() {
			window.location = '{{ url_for('holidays') }}' + '/' + $('#HolidayScheduleID').val();
		});
	</script>
{% endblock %}