{% extends "base.html" %}
{% block title %}Holiday Schedules{% endblock %}
{% block heading %}Holiday Schedules{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Holiday Schedule ID</strong></td>
				<td><strong>Name</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for holiday_schedule in holiday_schedules %}
		<tr>
			<td>{{ holiday_schedule['HolidayScheduleID'] }}</td>
			<td>{{ holiday_schedule['Name'] }}</td>
			<td><a href="{{ url_for('holiday_schedules_delete', HolidayScheduleID=holiday_schedule['HolidayScheduleID']) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

	<form class="well form-inline" method="POST" action="{{ url_for('holiday_schedules_add') }}">
		<input type="text" class="input-xlarge" placeholder="Name" name="Name"></input>

		<button type="submit" class="btn">Add</button>
	</form>
	

{% endblock %}