{% extends "base.html" %}
{% block title %}Import Punches{% endblock %}
{% block heading %}Import Punches{% endblock %}
{% block content %}

<br>

<h3>Import from Ctuit</h3>
<br>

<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="{{ url_for('swirl_ctuit_import') }}">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="import">File</label>
			<div class="controls">
				<input type="file" id="import" name="import"></input>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" name="import_type" value="us">Import</button>
		</div>
	</fieldset>
</form>

<hr>

<h3>Import from Squirrel</h3>
<br>
<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="{{ url_for('swirl_import') }}">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="StoreID">Store</label>
			<div class="controls">
				<select id="StoreID" name="StoreID" class="input-xlarge">
					{% for store in stores %}
					<option value="{{ store['StoreID'] }}">{{ store['StoreID'] }} - {{ store['Name'] }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="import">File</label>
			<div class="controls">
				<input type="file" id="import" name="import"></input>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" name="import_type" value="us">Import</button>
			<button type="submit" class="btn" name="import_type" value="international">Import (international dates)</button>
		</div>
	</fieldset>
</form>
{% endblock %}