{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block heading %}Current Pay Period: {{ PayPeriod }}{% endblock %}
{% block content %}
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Store ID</strong></td>
				<td><strong>Ctuit ID</strong></td>
				<td><strong>Name</strong></td>
				<td><strong>Hours</strong></td>
				<td><strong>Tips</strong></td>
			</tr>
		</thead>
		{% for store in stores %}
		<tr>
			<td>{{ store['StoreID'] }}</td>
			<td>{{ store['CtuitStoreID']|default('',true) }}</td>
			<td>{{ store['Name'] }}</td>
			<td><span style="color: {{ 'red' if store['Punches'] == none else 'green' }}">{{ 'Missing' if store['Punches'] == none else store['Punches']|decimal }}</span></td>
			<td><span style="color: {{ 'red' if store['Tips'] == none else 'green' }}">{{ 'Missing' if store['Tips'] == none else store['Tips']|currency }}</span></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}