{% extends "base.html" %}
{% block title %}Edit Job{% endblock %}
{% block heading %}Edit Job{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('job_edit', JobID=job['JobID']) }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="JobID">Job ID</label>
				<div class="controls">
					<p id="JobID">{{ job['JobID'] }}</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Name">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Name" name="Name" value="{{ job['Name'] }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Tipped">Tipped</label>
				<div class="controls">
					<input type="checkbox" id="Tipped" name="Tipped" {{ 'checked="checked"' if job['Tipped'] == 1 else '' }}></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Ratecode">Ratecode</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Ratecode" name="Ratecode" value="{{ job['Ratecode'] }}">
					<p>Paylocity: Ratecode (optional)</p>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button>
				<a href="{{ url_for('jobs') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}