{% extends "base.html" %}
{% block title %}Add Job{% endblock %}
{% block heading %}Add Job{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('job_add') }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="Name">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Name" name="Name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Tipped" value="1">Tipped</label>
				<div class="controls">
					<input type="checkbox" id="Tipped" name="Tipped"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Ratecode">Ratecode</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Ratecode" name="Ratecode">
					<p>Paylocity: Ratecode (optional)</p>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Add job</button>
				<a href="{{ url_for('jobs') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}