{% extends "base.html" %}
{% block title %}Job Map{% endblock %}
{% block heading %}Job Map{% endblock %}
{% block content %}

	<form method="POST" action="{{ url_for('jobmap_add') }}">
		<div class="well">
			<label for="StoreID">Store</label>
			
			<select id="StoreID" name="StoreID">
			{% for store in stores %}
				<option value="{{ store['StoreID'] }}" {{ 'selected="selected"' if store['StoreID'] == current_store['StoreID'] else '' }} >{{ store['StoreID'] }} - {{ store['Name'] }}</option>
			{% endfor %}
			</select>
		</div>

		<div class="well form-inline">
			<input type="text" class="input-xlarge" placeholder="Squirrel Job Name" name="SquirrelJob"></input>

			<select id="JobID" name="JobID" class="input-medium">
				{% for job in jobs %}
				<option value="{{ job['JobID'] }}">{{ job['Name'] }}</option>
				{% endfor %}
			</select>

			<button type="submit" class="btn">Add job map</button>
		</div>

		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<td><strong>Store</strong></td>
					<td><strong>Squirrel Job</strong></td>
					<td><strong>Job</strong></td>
					<td><strong>Action</strong></td>
				</tr>
			</thead>
			{% for jobmap in jobmaps %}
			<tr>
				<td>{{ jobmap['StoreID'] }} - {{ jobmap['StoreName'] }}</td>
				<td>{{ jobmap['SquirrelJob'] }}</td>
				<td>{{ jobmap['JobName'] }}</td>
				<td>
					<a href="{{ url_for('jobmap_delete', StoreID=jobmap['StoreID'], SquirrelJob=jobmap['SquirrelJob']) }}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</form>

{% endblock %}

{% block footer %}
{{ super() }}
	<script>
		$('#StoreID').change(function() {
			window.location = '{{ url_for('jobmap') }}' + '/' + $('#StoreID').val();
		});
	</script>
{% endblock %}