{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block heading %}Jobs{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Job ID</strong></td>
				<td><strong>Name</strong></td>
				<td><strong>Tipped</strong></td>
				<td><strong>Ratecode</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for job in jobs %}
		<tr>
			<td>{{ job['JobID'] }}</td>
			<td>{{ job['Name'] }}</td>
			<td>{{ "Yes" if job['Tipped'] == 1 else "No" }}</td>
			<td>{{ job['Ratecode'] }}</td>
			<td>
				<a href="{{ url_for('job_edit', JobID=job['JobID']) }}">Edit</a> <a href="{{ url_for('job_delete', JobID=job['JobID']) }}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	<a href="{{ url_for('job_add') }}" class="btn">Add job</a>

{% endblock %}