{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block heading %}Login{% endblock %}
{% block menu %}{% endblock %}
{% block side_menu %}{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('login') }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="Email">Email</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Email" name="Email">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Password">Password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="Password" name="Password">
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</fieldset>
	</form>
{% endblock %}