{% extends "base.html" %}
{% block title %}Pay Periods{% endblock %}
{% block heading %}Pay Periods{% endblock %}
{% block content %}

	<p><em>Note: Pay Period dates are PAY PERIOD BEGINNING (PPB) not PAY PERIOD ENDING (PPE) dates.</em></p>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Pay Period</strong></td>
			</tr>
		</thead>
		{% for payperiod in payperiods %}
		<tr>
			<td>{{ payperiod['PayPeriod'] }}</td>
		</tr>
		{% endfor %}
	</table>

	<a href="{{ url_for('payperiod_add') }}" class="btn">Add pay period</a>

{% endblock %}