{% extends "base.html" %}
{% block title %}Add Pay Period{% endblock %}
{% block heading %}Add Pay Period{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="#">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="PayPeriod">Pay Period</label>
				<div class="controls">
					<input type="text" class="input-large" id="PayPeriod" name="PayPeriod">
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Add pay period</button>
				<a href="#" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}
{% block footer %}
	{{ super() }}
	<script>
		function toPayPeriodDate(date) {
			d = new Date(date);

			if (d.getDate() > 15) {
				d.setDate(16);
			} else {
				d.setDate(1);
			}

			return d;
		}

		$('#PayPeriod').datepicker({
			format: 'mm-dd-yyyy'
		});

		$('#PayPeriod').val( toPayPeriodDate(new Date()).toString('MM-dd-yyyy') );
	</script>
{% endblock %}