{% extends "base.html" %}
{% block title %}Punch Preview{% endblock %}
{% block heading %}Punch Preview{% endblock %}
{% block content %}

	<div class="well form-inline">
		<a class="btn btn-primary" href="{{ url_for('batch_map', BatchID=BatchID) }}">Process</a>
		<a class="btn" href="{{ url_for('batch_delete', BatchID=BatchID) }}">Delete batch</a>
	</div>

	<form class="well form-inline" method="POST" action="{{ url_for('update_employee_num', BatchID=BatchID) }}">
		<div class="alert alert-info">
			<p>You may want to update employee numbers to match those in the payroll system before processing.</p>
			<p><strong>All punches with employee numbers over 900000 will be automatically deleted.</strong></p>

		</div>
		<select name="OldEmployeeNum" class="input-large">
			{% for employee in employees %}
			<option value="{{ employee['EmployeeNum'] }}|{{ employee['StoreID'] }}">{{ employee['EmployeeNum'] }} - {{ employee['StoreID'] }}</option>
			{% endfor %}
		</select>
		<input type="text" class="input-medium" name="NewEmployeeNum" placeholder="Employee Num"></input>
		<button type="submit" class="btn btn-primary">Update</button>
	</form>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>StoreID</strong></td>
				<td><strong>EmployeeNum</strong></td>
				<td><strong>LastName</strong></td>
				<td><strong>FirstName</strong></td>
				<td><strong>Department</strong></td>
				<td><strong>Job</strong></td>
				<td><strong>Date</strong></td>
				<td><strong>PunchIn</strong></td>
				<td><strong>PunchOut</strong></td>
				<td><strong>Hours</strong></td>
			</tr>
		</thead>
		{% for row in rows %}
		<tr>
			<td>{{ row['StoreID'] }}</td>
			<td>{{ row['EmployeeNum'] }}</td>
			<td>{{ row['LastName'] }}</td>
			<td>{{ row['FirstName'] }}</td>
			<td>{{ row['Department'] }}</td>
			<td>{{ row['Job'] }}</td>
			<td>{{ row['Date'] }}</td>
			<td>{{ row['PunchIn'] }}</td>
			<td>{{ row['PunchOut'] }}</td>
			<td>{{ row['Hours'] }}</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}