{% extends "base.html" %}
{% block title %}Edit Store{% endblock %}
{% block heading %}Edit Store{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('store_edit', StoreID=store['StoreID']) }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="StoreID">Accounting ID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="StoreID" name="StoreID" value="{{ store['StoreID'] }}">
					<p>Example: 2003-160-00</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Name">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Name" name="Name" value="{{ store['Name'] }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="CompanyID">Company</label>
				<div class="controls">
					<select id="CompanyID" name="CompanyID" class="input-xlarge">
						{% for company in companies %}
						<option value="{{ company['CompanyID'] }}" {{ 'selected="selected"' if company['CompanyID'] == store['CompanyID'] else '' }} >{{ company['CompanyID'] }} - {{ company['Name'] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="TipPoolID">Tip Pool</label>
				<div class="controls">
					<select id="TipPoolID" name="TipPoolID" class="input-xlarge">
						{% for tippool in tippools %}
						<option value="{{ tippool['TipPoolID'] }}" {{ 'selected="selected"' if tippool['TipPoolID'] == store['TipPoolID'] else '' }}>{{ tippool['Name'] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Costcenter">Costcenter</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Costcenter" name="Costcenter" value="{{ store['Costcenter'] }}">
					<p>Enter the costcenter that should appear in Paylocity so that it can be expensed to the correct costcenter with accounting.</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="CtuitStoreID">Ctuit Store ID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="CtuitStoreID" name="CtuitStoreID" value="{{ store['CtuitStoreID']|default('',true) }}">
					<p>Enter the store ID from Ctuit. This is used to map Ctuit imports to Swirl store numbers.</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Email">Email list</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Email" name="Email" value="{{ store['Email'] if store['Email'] != none else '' }}">
					<p>Separate emails with commas</p>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button>
				<a href="{{ url_for('stores') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}