{% extends "base.html" %}
{% block title %}Add Store{% endblock %}
{% block heading %}Add Store{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('store_add') }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="StoreID">Accounting ID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="StoreID" name="StoreID">
					<p>Example: 2003-160-00</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Name">Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Name" name="Name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="CompanyID">Company</label>
				<div class="controls">
					<select id="CompanyID" name="CompanyID" class="input-xlarge">
						{% for company in companies %}
						<option value="{{ company['CompanyID'] }}">{{ company['CompanyID'] }} - {{ company['Name'] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="TipPoolID">Tip Pool</label>
				<div class="controls">
					<select id="TipPoolID" name="TipPoolID" class="input-xlarge">
						{% for tippool in tippools %}
						<option value="{{ tippool['TipPoolID'] }}">{{ tippool['Name'] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Costcenter">Costcenter</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Costcenter" name="Costcenter">
					<p>Enter the costcenter that should appear in Paylocity so that it can be expensed to the correct costcenter with accounting.</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="CtuitStoreID">Ctuit Store ID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="CtuitStoreID" name="CtuitStoreID" value="">
					<p>Enter the store ID from Ctuit. This is used to map Ctuit imports to Swirl store numbers.</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Email">Email list</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Email" name="Email">
					<p>Separate emails with commas</p>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Add store</button>
				<a href="{{ url_for('stores') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}