{% extends "base.html" %}
{% block title %}Stores{% endblock %}
{% block heading %}Stores{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Store ID</strong></td>
				<td><strong>Ctuit ID</strong></td>
				<td><strong>Name</strong></td>
				<td><strong>Company</strong></td>
				<td><strong>Tip Pool</strong></td>
				<td><strong>Costcenter</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for store in stores %}
		<tr>
			<td>{{ store['StoreID'] }}</td>
			<td>{{ store['CtuitStoreID']|default('', true) }}</td>
			<td>{{ store['Name'] }}</td>
			<td>{{ store['CompanyID'] }} - {{ store.CompanyName }}</td>
			<td>{{ store['TipPoolName'] }}</td>
			<td>{{ store['Costcenter'] }}</td>
			<td>
				<a href="{{ url_for('store_edit', StoreID=store['StoreID']) }}">Edit</a>
				<a href="{{ url_for('store_delete', StoreID=store['StoreID']) }}">Delete</a>
				{% if store['Active'] == 1 %}
				<a href="{{ url_for('store_deactivate', StoreID=store['StoreID']) }}">Deactivate</a>
				{% else %}
				<a href="{{ url_for('store_activate', StoreID=store['StoreID']) }}">Activate</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>

	<a href="{{ url_for('store_add') }}" class="btn">Add store</a>

{% endblock %}