{% extends "base.html" %}
{% block title %}Terminated Employees{% endblock %}
{% block heading %}Terminated Employees{% endblock %}
{% block content %}

	<p>
		Add terminated employees below.  Terminated employees will not be included in the tip pool or hours calculations.  If they have not yet been paid, they should not be added to this list.  If they have been sent a manual check, be sure to remove their portion of tips from the tip pool manually before exporting to payroll.
	</p>

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Company ID</strong></td>
				<td><strong>Employee Number</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for e in ee %}
		<tr>
			<td>{{ e['CompanyID'] }}</td>
			<td>{{ e['EmployeeNum'] }}</td>
			<td><a href="{{ url_for('terminated_ee_delete', CompanyID=e['CompanyID'], EmployeeNum=e['EmployeeNum']) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

	<form class="well form-inline" method="POST" action="{{ url_for('terminated_ee_add') }}">
		<select name="CompanyID">
			{% for company in companies %}
			<option>{{ company['CompanyID'] }}</option>
			{% endfor %}
		</select>
		<input type="text" class="input-small" placeholder="Employee Num" name="EmployeeNum"></input>
		<button type="submit" class="btn">Add terminated employee</button>
	</form>
	

{% endblock %}