{% extends "base.html" %}
{% block title %}Tip Pools{% endblock %}
{% block heading %}Tip Pools{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>Tip Pool ID</strong></td>
				<td><strong>Name</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for tippool in tippools %}
		<tr>
			<td>{{ tippool['TipPoolID'] }}</td>
			<td>{{ tippool['Name'] }}</td>
			<td><a href="{{ url_for('tippool_delete', TipPoolID=tippool['TipPoolID']) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

	<form class="well form-inline" method="POST" action="{{ url_for('tippool_add') }}">
		<input type="text" class="input-xlarge" placeholder="Name" name="Name"></input>
		<button type="submit" class="btn">Add tip pool</button>
	</form>
	

{% endblock %}