{% extends "base.html" %}
{% block title %}Tips{% endblock %}
{% block heading %}Tips{% endblock %}
{% block content %}


<div class="well">
	<label for="PayPeriod">Pay Period</label>
	
	<select id="PayPeriod" name="PayPeriod">
	
	{% for pp in payperiods %}
		<option value="{{ pp.PayPeriod }}" {{ 'selected="selected"' if pp['PayPeriod'] == payperiod else '' }} >{{ pp['PayPeriod'] }}</option>
	{% endfor %}
	</select>
</div>
<div class="well form-inline">
	<h3>Import Tips</h3><br>
	<form  enctype="multipart/form-data" method="POST" action="{{ url_for('tips_import') }}">
	<input type="hidden" name="PayPeriod" value="{{payperiod}}">
		
		
					<input type="file" id="import" name="import"></input>
			
				<button type="submit" class="btn btn-primary" name="import_type" value="us">Import</button>
		
	</form>
	<span class="alert">When you import tips all existing tips for this pay period will be deleted!</span>
</div>


<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<td><strong>Store</strong></td>
			<td><strong>Tips</strong></td>
			<td><strong>Action</strong></td>
		</tr>
	</thead>
	{% for t in tips %}
	<tr>
		<td>{{ t['StoreID'] }} - {{ t['StoreName'] }}</td>
		<td>
			<span id="tips_{{t['StoreID']|sha1}}">{{ t['Tips']|currency }}</span>
			<div class="hidden" id="update_form_{{t['StoreID']|sha1}}">
				<form class="form-inline" method="post" action="{{url_for('tips_update')}}">
					<input type="text" pattern="\d*\.?\d*" class="form-control" name="Tips" style="width: 75px" value="{{t['Tips']}}" required>
					<input type="hidden" name="PayPeriod" value="{{payperiod}}">
					<input type="hidden" name="StoreID" value="{{t['StoreID']}}">
                	<button type="submit" class="btn btn-sm btn-primary">Update</button>
				</form>
			</div>
		</td>
		<td>
			<a href="#" onclick='$("#tips_{{t['StoreID']|sha1}}").addClass("hidden");$("#update_form_{{t['StoreID']|sha1}}").removeClass("hidden");'>Edit</a>
			<a href="{{ url_for('tips_delete', PayPeriod=payperiod, StoreID=t['StoreID']) }}">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>

<form method="POST" action="{{ url_for('tips_add') }}">
	<input name="PayPeriod" type="hidden" value="{{payperiod}}">
	<div class="well form-inline">
		<select id="StoreID" name="StoreID" class="input-xlarge">
			{% for store in stores %}
			<option value="{{ store['StoreID'] }}">{{ store['StoreID'] }} - {{ store['Name'] }}</option>
			{% endfor %}
		</select>

		<input type="text" class="input-small" placeholder="Tips" name="Tips"></input>
		<button type="submit" class="btn">Add tips</button>
	</div>
</form>
	

{% endblock %}

{% block footer %}
{{ super() }}
	<script>
		$('#PayPeriod').change(function() {
			window.location = '{{ url_for('tips') }}' + '/' + $('#PayPeriod').val();
		});
	</script>
{% endblock %}