{% extends "base.html" %}
{% block title %}Edit User{% endblock %}
{% block heading %}Edit User{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('users_edit', uid=user.UserID) }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="Email">ID</label>
				<div class="controls">
					<p>{{ user['UserID'] }}</p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Email">Email</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Email" name="Email" value="{{ user['Email'] }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Password">Password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="Password" name="Password">
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<a href="{{ url_for('users_handler') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}