{% extends "base.html" %}
{% block title %}Add User{% endblock %}
{% block heading %}Add User{% endblock %}
{% block content %}
	<form class="form-horizontal" method="POST" action="{{ url_for('users_add') }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="Email">Email</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="Email" name="Email">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="Password">Password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="Password" name="Password">
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Add user</button>
				<a href="{{ url_for('users_handler') }}" class="btn">Cancel</a>
			</div>
		</fieldset>
	</form>
{% endblock %}