{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block heading %}Users{% endblock %}
{% block content %}

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<td><strong>ID</strong></td>
				<td><strong>Email</strong></td>
				<td><strong>Action</strong></td>
			</tr>
		</thead>
		{% for user in users %}
		<tr>
			<td>{{ user['UserID'] }}</td>
			<td>{{ user['Email'] }}</td>
			<td>
				<a href="{{ url_for('users_edit', uid=user['UserID']) }}">Edit</a> <a href="{{ url_for('users_delete', uid=user['UserID']) }}">Delete</a>
			</td>
			<td>
				{% if user['Active'] >= 1 %}
				 <a href="{{ url_for('users_deactivate', uid=user['UserID']) }}">Deactivate</a>
				{% else %}
				 <a href="{{ url_for('users_activate', uid=user['UserID']) }}">Activate</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>

	<a href="{{ url_for('users_add') }}" class="btn">Add user</a>

{% endblock %}